[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudinary = "==1.24.0"
dj-database-url = "==0.5.0"
django-cloudinary-storage = "==0.3.0"
gunicorn = "==20.0.4"
python-decouple = "==3.4"
psycopg2-binary = "==2.8.6"
Collectfast = "==2.2.0"
Django = "==3.2.4"
pillow = "==8.2.0"

[dev-packages]

[requires]
python_version = "3.9"
